{{!-- {{#unless isFaker}} --}}
<div class="jumbotron">
    <h1> Chat</h1>
    <h4>(Comprensión {{porcenComprension}} %)</h4>


    <input type="text" id="inputMail" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu email">
    <input type="text" id="inputNombre" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu nombre">
    <input type="text" id="inputApellido" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu appelido">
    <input type="text" id="inputEdad" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu edad">
    <input type="text" id="inputAlias" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu alias">
    <input type="text" id="inputAvatar" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu avatar">
</div>
{{!-- {{/unless}} --}}